.tw-card{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    width: 320px;
}

.tw-card header {
    display: flex;
    align-items: center;
    gap: 4px;
   
}

.tw-card header div {
    display: flex;
    flex-direction: column;
}

.tw-card header span {
    opacity: .6;
}

.tw-card img {
    height: 48px;
    width: 48px;
    border-radius: 1000px;
}

.tw-card .tw-btn{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
    transition: .3s ease background-color;
}
.tw-card .tw-btn:hover{
    background-color: #ddd;
    
.tw-card-follow{
    display: block;
}

}
.tw-btn.isFollow:hover{
    background-color:rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
    opacity: 1;
}

.tw-btn.isFollow:hover .tw-card-follow{
    display: none;
}

.tw-btn.isFollow{
    background:transparent;
    border: 1px solid #fff;
    opacity: .9;
    color: #fff;
}

.tw-btn.isFollow:hover .tw-card-stop{
    display: block;
}
.tw-card-stop{
    border: 1px solid inherit;
    display: none;
    background:transparent;
    color:#fff ;

}

